
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <ng-container matColumnDef="order_id">
      <th mat-header-cell *matHeaderCellDef>Order Id</th>
      <td mat-cell *matCellDef="let customers">{{ customers.order_id }}</td>
    </ng-container>

    <ng-container matColumnDef="order_date">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let customers">{{ customers.order_date | date: 'dd-MM-yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let customers">{{ customers.status }}</td>
    </ng-container>

    <ng-container matColumnDef="total_amount">
      <th mat-header-cell *matHeaderCellDef>Total Amount</th>
      <td mat-cell *matCellDef="let customers">{{ customers.total_amount }}</td>
    </ng-container>
    <ng-container matColumnDef="shipping_address">
      <th mat-header-cell *matHeaderCellDef>Shipping Address</th>
      <td mat-cell *matCellDef="let customers">
        {{ customers.shipping_address }}
      </td>
    </ng-container>

    <ng-container>
      <ng-container matColumnDef="payment_method">
        <th mat-header-cell *matHeaderCellDef>Payment Method</th>
        <td mat-cell *matCellDef="let customers">
          {{ customers.payment_method }}
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
