 <div style="display: flex; height: 100vh;">

  <div style="flex: 1; background-image: url('https://media.istockphoto.com/id/2166666199/photo/attentive-african-postal-courier-man-writes-notes-to-do-list-plans-task-on-green-studio.jpg?s=612x612&w=0&k=20&c=cIq0U6c0tNSOvfXLL7wwGmzjOA_XOSG_eeE9V7eN7lA='); background-size: 825px; background-position: center;">
  </div>
  <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
    <mat-card class="welcome-card">
      <mat-card-title>Welcome to Customer Management System</mat-card-title>
      <mat-card-content>
        <p>Manage your customers efficiently with our easy-to-use interface.</p>
        <button mat-raised-button color="primary" (click)="button()">Get Started</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

